* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
}

:root {
  --org-50: #fff3e0;
  --org-100: #ffe0b2;
  --org-300: #ffb74d;
  --org-400: #ffa726;
  --org-600: #fb8c00;
  --org-700: #f57c00;
}

html {
  /* overflow-x: hidden; */
  font-size: 62.5%;
}

.heading {
  color: #333;
  font-size: 3.5rem;
  padding: 1rem;
  padding-top: 6rem;
  text-align: center;
  letter-spacing: 0.2rem;
}

.heading span {
  color: var(--org-700);
}

header {
  width: 96%;
  display: flex;

  /* backdrop-filter: blur(10px); */
  background-color: white;
  align-items: center;
  justify-content: space-between;

  position: fixed;

  top: 1.5rem;
  /*  doubt */
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  padding: 0.3rem 2rem;
  transition: 0.2s linear;
  z-index: 1000;
  align-items: center;
}

header .logo {
  color: #333;
  font-size: 3rem;
}

header .logo span {
  font-size: 3rem;
  color: var(--org-600);
}

header .navbar ul {
  list-style-type: none;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

header .navbar ul li {
  margin: 0 1rem;
}

header .navbar ul li a {
  font-size: 2rem;
  color: #333;
}

header .navbar ul li a:hover {
  color: var(--org-600);
}

header .fa-bars {
  font-size: 3rem;
  color: var(--org-700);
  cursor: pointer;
  display: none;
}



.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 2rem 10rem;
}

.home .video video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.home .content {
  margin-top: 15rem;
  margin-right: 5rem;
}

.home .content h1 {
  font-size: 5vw;
  color: #fff;
  text-shadow: 0 0 0.3rem 0.5rem #000;
}

.home .content p {
  font-size: 1vw;
  color: #fff;
  /* co */
  text-shadow: 0 0 0.3rem 0.5rem #000;
  padding-left: 2rem;
  text-align: justify;
  border-left: 0.6rem solid var(--org-700);
  border-radius: 5px;
  background-color: rgb(192, 134, 27, 0.25);
  /* transform: ; */
}

.home .form-container form {
  margin-top: 8rem;
  padding: 2rem;
  width: 40rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.9);
}

.home .form-container form h3 {
  color: #333;
  font-size: 3rem;
  text-align: center;
}

.home .form-container form span {
  color: var(--org-600);
  font-size: 2.5rem;
  margin: 0.5rem 0;
  display: block;
}

.home .form-container form input {
  width: 100%;
  height: 50px;
  padding: 0 1rem;
  font-size: 1.5rem;
  background: #eee;
  border: none;
  border-radius: 10px;
  outline: none;
  color: #333;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3) inset;
  border-radius: 0.5rem;
}

.home .form-container form input:focus {
  outline: solid 3px var(--org-600);
}

.home .form-container form input[type="submit"] {
  width: 10rem;
  color: #fff;
  background: var(--org-700);
  cursor: pointer;
  font-size: 2rem;
  padding: rem 0;
  margin-top: 2rem;
  transition: 0.2s linear;
}

.home .form-container form input[type="submit"]:hover {
  border: 0.2rem solid var(--org-400);
  color: var(--org-600);
  background: none;
}

.feature {
  height: 100vh;
  background: #f9f9f9;
  position: relative;
}

.feature .card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.feature .card-container .card {
  width: 30rem;
  margin: 2rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
}

.feature .card-container .card img {
  height: 25rem;
  width: 100%;
  object-fit: cover;
}

.feature .card-container .content {
  padding-bottom: 2rem;
  text-align: center;
}

.feature .card-container .content .title {
  color: var(--org-700);
  font-size: 3rem;
}

.feature .card-container .content p {
  color: #333;
  font-size: 1.4rem;
  padding: 1rem;
}

.feature .card-container .content .btn {
  font-size: 1.7rem;
  margin-top: 1.4rem;
  height: 3.5rem;
  width: 12rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  background: var(--org-600);
  color: #fff;
  cursor: pointer;
}

.feature .card-container .content .btn:hover {
  background: none;
  border: 0.2rem solid var(--org-400);
  color: var(--org-400);
}

.feature .card-container .card .recommended {
  border-radius: 1rem;
  position: absolute;
  top: 1rem;
  right: 0rem;
  /* display: block; */
  height: 3rem;
  width: auto;
  padding: 0 1rem;
  background: var(--org-600);
  color: #fff;
  text-align: center;
  line-height: 3rem;
  font-size: 1.4rem;
}

/* feature style ending */


/* gallery Style start */
/* .gallery {

  height: 100vh;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.gallery .gallery_container {

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  grid-auto-flow: column dense;
  width: 95vw;
  height: 95vh;

  padding: 1rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  margin: 5rem;
}

.gallery .gallery_container>img{
  object-fit: contain;
}
.gallery .gallery_container .box {
  background-size: cover;
  background-position: center;
}

.gallery .gallery_container .vertical {
  grid-row: span 2;
  background-color: tomato;
}

.gallery .gallery_container .horizontal {
  grid-column: span 2;
  background-color: lightgreen;
}

.gallery .gallery_container .square {
  background-color: lightblue;
}

.gallery .gallery_container #v2 {
  grid-column-start: 3;
}

.gallery .gallery_container #v3 {
  grid-column-start: 6;
}

.gallery .gallery_container #v4 {
  grid-column-start: 2;
  grid-row: 2 / 4;
}

.gallery .gallery_container #v5 {
  grid-column-start: 5;
  grid-row: 2 / 4;
} */

.gallery {
  background-color: Rgb(249,249,249); 
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery .gallery_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  grid-auto-flow: column dense;
  height: 70vh;
  width: 90vw;
  margin: 3.5rem 0;


}
.gallery .gallery_container .box img{
  border-radius:  2rem;
  height: 100%;
  width: 100%;
  
  object-fit: cover;
}
.gallery .gallery_container .box:hover{
  transform: scale(1.1) ;
  transition: transform 0.7s ease-in-out; 

}


.gallery .gallery_container .vertical {
  grid-row: span 2;
  /* background-color: tomato; */
}

.gallery .gallery_container .horizontal {
  grid-column: span 2;
  /* background-color: rgb(168, 206, 34); */
}

.gallery .gallery_container .square {
  /* background-color: lightblue; */
}

#v1 {
  grid-column-start: 1;
  grid-row: 1 / span 2;
}

#v2 {
  grid-column-start: 3;
  grid-row: 1 / span 2;
}

#v3 {
  grid-column-start: 6;
  grid-row: 1 / span 2;
}

#v4 {
  grid-column-start: 2;
  grid-row: 2 / span 2;
}

#v5 {
  grid-column-start: 5;
  grid-row: 2 / span 2;
}

.social_links {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);


}

.social_links a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.social_links a:hover {
  background-color: var(--org-100);
}

.facebook {
  background: var(--org-700);
  border: solid 2px white;
  border-radius: 15px 0 0 0;
  border-bottom: 0px;
}

.twitter {
  background-color: white;
  color: var(--org-700) !important;
  border: solid 2px;
  border-radius: 0 0 0 15px;
  border-top: none;
}