# pip install -r requirements.txt


# Ignore virtual environments
*/venv/
*/__pycache__/
*/bin/
*/include/
*/lib
./Python/Assignment/A4_flask_version/lib

# Ignore compiled Python files
*.pyc
*.pyo

# Ignore environment-specific files
*.env

# Ignore macOS specific files
.DS_Store

# Ignore IDE and editor-specific directories
.vscode/
.idea/
*.iml
